.body-avances{
    background-image:url(../assets/images/fondo-avances.webp); border: 0; margin: 0;
    background-repeat: round;
    ;
    padding: 0; margin: 0;border: 0;
    width: 100%;
}
 #video_loop{width: 100vw;height:auto; margin: 0;padding-left: 5%; padding-right: 3.5%;

 }


#columna_video{width: 100%; height: auto; padding: 0;

}



 



.resena-avance1{background-image: url(../assets/images/cine-proyector.webp); background-size: cover;border-radius: solid green 60px; 
                img{width: 75%;}

}

.resena-avance2{background-image: url(../assets/images/cine-vacio.jfif); background-size: cover; border-radius: solid green 60px;
                

}
.resena-avance3{background-image: url(../assets/images/red-carpet.webp); background-size: cover; border-radius: solid green 60px;
}

#container_avances{ background-image: url(../assets/images/filmoteca.webp); border-radius: 40px solid green; background-repeat: no-repeat; background-size: cover;
                    h3{font-family: $fontShadow,font-size 1rem;color: wheat};
                    p{font-family: $fontShadow,font-size 1.5rem;color: wheat;text-align: justify;}
}                   col{flex-shrink: 1;}

.texto-video {h2{ u{text-align: start;color:rgb(63, 39, 35)};font-family:$fontShadow; font-size: 5rem;}
            p{ text-align: start; color:rgb(247, 153, 21); }; font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 30px ;}




 



