.body-contacto {
    width: 100vw;

    height: 150vh,  !important;
    background-color: rgb(15, 18, 15);
}



#footer_contacto { 
    height: auto;
    text-align: center;
    background-color:#dc3545;
    text-decoration: none,!important;
        div{text-decoration: none;
            ul{text-decoration: none;
                li{text-decoration: none;
                    a{text-decoration-color: none; text-decoration: none;

                    }
                }
            }
        }
    }
   




.animate__hinge {
    animation-delay: 3s;
    animation-fill-mode: both;
}


#formulario_general {
    font-family:$fontSausage;
    ;
    background-color:$colorFormulario;
    height: 90vh;
    width: 100%;

}

#formulario_nombre {
    border-radius: 30px solid black,  !important;
    margin: 30px solid black;

}
#no {
    display: block;
    text-align: center;

}



#botones_reseteo{
    bottom{@include estilo-boton;
    } 
   
}

#via{width: 100%;}

#formulario_comentario{ div{
                            label{
                                textarea{
                                    max-width: 20%;
                                    max-height: 30%;
                                   
                                }
                            }
}

}