.body-contacto {
    width: 100vw;

    height: 150vh,  !important;
    background-color: rgb(15, 18, 15);
}



#footer_contacto { 
    height: auto;
    text-align: center;
    text-decoration: none;
    background-color:#dc3545;
   

}


.animate__hinge {
    animation-delay: 3s;
    animation-fill-mode: both;
}


#formulario_general {
    font-family:$fontSausage;
    ;
    background-color:$colorFormulario;
    height: 90vh;
    width: 100%;

}

#formulario_nombre {
    border-radius: 30px solid black,  !important;
    margin: 30px solid black;

}
#no {
    display: block;
    text-align: center;

}



#botones_reseteo{
    bottom{@include estilo-boton;
    } padding-right: 100px;
   
}

#via{width: 100%;}

