@mixin reset{margin: 0; padding: 0; box-sizing: border-box;}

@mixin estilo-boton{
    
    padding: 6px 12px;
    border: 3px solid black;
    display: inline-block;
    font-weight: 200;
    line-height: 0.5rem;
    height: 0.2rem;
    
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select:none;
    padding: 0, 0.75rem;
    font-size: 1rem;
    border-radius: 1rem; 
    color: map-get($estilo-nav,recomendadas),!important;
    background-color: rgba(233, 7, 7, 0.562);
}





    
