.body-recomendadas {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/fondo-avances.webp);
    .container-tabla{
        h2{font-family:$fontShadow;}
    }
    
    dt{display: inline-block;}

    dl{display: inline-block;}

    #seccion_recomendadas{
        p{
        font-size: 1rem; padding: 0, 10px; font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
        h5{font-size: 1,2rem; text-align: center;}

        
    }
    #footer_recomendadas{
        li{text-decoration: none;
        a{text-decoration: none;}}
        width: 100vw;
        
    }
}



.card {
    position: relative;
    width: 300px;
    height: 400px;
    

    div {position: absolute;
       width: 100%;
        height: 100%;
        display: flex;
        align-items:center;
        align-content: center;
    backface-visibility: hidden;
    transition: 1s;
    
    }
    .front{ transform: perspective(500px) rotateY(0deg)
        

    }
    .back{background-color: rgb(230, 235, 232); 
        transform: perspective(500px) rotateY(180deg);
        h5{text-align: center; font-size: 1.2rem; font-family: Verdana, Geneva, Tahoma, sans-serif;}
        p{text-align: justify; padding: 0,10px; font-size: 1rem; font-family:Verdana, Geneva, Tahoma, sans-serif}


    }
}       

.card:hover .front{ transform: perspective(500px) rotateY(180deg);

}

.card:hover .back{ transform: perspective(500px) rotateY(360deg);
    
}
        
