.body-reviews{
    width: 100vw; height: 100vh;
    background-image: url(../assets/images/cinema2.webp);
}

.ficha1{
    dt{display: inline-block; text-align: justify; padding-left: 1rem;font-family:Verdana, Geneva, Tahoma, sans-serif}
    dd{display: inline-block; text-align: justify;padding-left: 1rem; font-family:Verdana, Geneva, Tahoma, sans-serif}
    p{font-size: 1rem; text-align: justify; font-family:Verdana, Geneva, Tahoma, sans-serif;}
}

.container-review{
    h2{ font-family:"shadow";

    }

}