.body-reviews{
    width: 100vw; height: 100vh;
    background-image: url(../assets/images/cinema2.webp);
}

.ficha1{
    dt{display: inline-block; text-align: justify; padding-left: 1rem;}
    dd{display: inline-block; text-align: justify;padding-left: 1rem}
    p{font-size: 1rem; text-align: justify;}
}

.container-review{
    h2{ font-family:"shadow";

    }

}