@import "./variables";
@import "./mixins";
@import "./elementosCompartidos";
@import "./contacto";
@import "./index";
@import "./avances";
@import "./_reviews";
@import "./recomendadas";

html{overflow-x: hidden;}


// * -------MEDIA QUERIES-- */

@media only screen and (min-width: 992px) and (max-width:1200px) {
    #container_avances{ justify-content: center;
       div{ display: block;
           col{ display: inline-block;
           iframe{width: 100%; padding-left: 30%;}}
                article{
                    p{ padding: 0 20px;}
               }

        
   }

        .texto-video {
            h2{ u{text-align: start;color:rgb(63, 39, 35)};font-family:$fontShadow; font-size: 20px;}
            p{ text-align: start; color: rgb(245, 94, 12); }; font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 10px ;}
             }       

 }



@media only screen and (min-width: 768px) and (max-width: 992px) {
    

    #footer_contacto {
         height: auto;
         text-decoration: none,!important;
             }
     .body-index{
         width: 100vw;
         height: 150vh;
         
         #footer_index {
                 height: 20vh;
                 width: 100vw;
                 margin-bottom: 0;
        
             }
     }
     .body-avances{
        background-image:url(../assets/images/fondo-avances.webp); border: 0; margin: 0;
        background-repeat: round;
        padding: 0; margin: 0;border: 0;
        width: 100vw;};
        .texto-video {h2{ u{text-align: start;color:rgb(63, 39, 35)};font-family:$fontShadow; font-size: 80px;}
            p{ text-align: start; color: rgb(245, 94, 12); }; font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px ;}



    
        
}
   




@media only screen and (min-width: 574px) and (max-width:768px) {
    .container-review{
        col{
        img
        {width: 50%;
        } 
    }

    }
    
    
    
    #footer_index {
        height: auto;
        position: absolute;
        width: 100vw;

    }


   .body-contacto {
        width: 100vw;
        height: 100vh,  !important;
        background-color:#dc3545;
        #footer_contacto { @include reset;
            height: 15vh;
            text-align: center;
            text-decoration: none,!important;
           
    
        }
    }

    #formulario_general {
        height: 70vh;

    }

    #section_info_3 {
        font-family: $fontSausage;
        font-size: 1em
    }

    .card {
        position: relative;
        width: 300px;
        height: 400px;
        

}
    .texto-video {
        h2{ u{text-align: start;color:rgb(63, 39, 35)};font-family:$fontShadow; font-size: 40px;}
        p{ text-align: start; color: rgb(245, 94, 12); }; font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px ;}

   
   


}

@media only screen and (max-width:574px) {
  
    #footer_contacto{
        text-decoration: none,!important;
        
    }
    .body-index{
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
        #carousel_index {
        display: none;
        };
        #footer_index {
            height: 8vh;
            position: absolute;
            width: 100vw;
            padding: 0;
            
       
        }
    }
    
    
    .body-recomendadas{
        div.font{padding-left: 25%;}
        .card {position: relative;
            width: 200px;
            height: 300px;
            
        } .back{ height: fit-content;

        }
               
    
    }
    .container-review{
        col{
        img
        {width: 50%;
        } 
    }

    }
    .texto-video {h2{ u{text-align: start;color:rgb(63, 39, 35)};font-family:$fontShadow; font-size: 1.5rem;}
            p{ text-align: start; color: rgb(247, 153, 21); }; font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1rem ;}

    .tabla-usuarios{
        display: none;
    }
    #footer_recomendadas {
        height: 25vh;
        top: 0,  !important;
        width: 100vw;
    
    }
    
}  

